* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Arial, sans-serif;
    box-sizing: border-box;
}

.menu{
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}

header h2{
    font-size: 30px;
    color: #476b6b;
    font-weight: bold;
    margin-left: 20px;
}

.menu__items li{
    margin: 0 5px;
}

.menu__items li a{
    padding: 8px;
    text-decoration: none;
    color: #476b6b;
    font-size: 18px;
    display: block;
}

.menu__items li:hover{
    background-color: #BADA55;
    transition: .4s;
}

.span__titulo{
    color: #BADA55;
}

/*SECCION INICIO INDEX*/

.span__inicio{
    color: #476b6b;
}

.inicio__titulo{
    font-size: 100px;
}

.inicio__parrafo{
    font-size: 30px;
}

/*SECCION NIVELES INDEX*/

.level-item{
    border-radius: 6px;
    margin: 15px 30px;
    cursor: pointer;
    color: #476b6b;
}

.level-item:hover{
    background-color: #f0f5f5;
    color: #000;
    transition: .4s;
}

/*SECCION CARACTERISTICAS INDEX*/

#caracteristicas{
    margin-top: 50px;
    color: #476b6b;
}

.card-caract{
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #BADA55;
}

.card-caract:hover{
    background-color: #476b6b;
    color: #BADA55;
    transition: .4s;
    transform: scale(1.1);
}

#caracteristicas i{
    font-size: 60px;
}

/*NOSOTROS*/

.nosotros-main{
    overflow: hidden;
}

.nosotros__titulo{
    font-size: 100px;
    color: #476b6b
}

.span__nosotros{
    color: #BADA55;
}

.nosotros__p{
    color: #476b6b;
    font-size: 20px;
}

.nosotros-card{
    border: 5px double #476b6b;
    border-radius: 5px;
}

/*NIVELES*/

.inicio__niveles--titulo{
    font-size: 80px;
    color: #BADA55;
    font-weight: bold;
}

#niveles-grid img{
    opacity: 0.6;
    height: 300px;
    object-fit: cover;
}

.card-levels{
    cursor: pointer;
    border: 2px solid #476b6b;
    border-radius: 5px;
    background-color: #cccccc;
}

.card-levels:hover{
    background-color: #476b6b;
    color: #fff;
    transition: .4s;
    transform: scale(1.1);
}

table{
    border: 5px groove #cccccc;
}

/*PRUEBA*/

.prueba__titulo{
    color: #BADA55;
    font-size: 80px;
}

.div__prueba{
    cursor: pointer;
}

.card-prueba:hover{
    background-color: #476b6b;
    transition: .3s;
    color: #000;
}

.card-prueba{
    color: #476b6b;
    border-radius: 6px;
}

#prueba__aside{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 30px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/aside-bg.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 400px;
    width: 100%;
}

#prueba__aside i{
    font-size: 25px;
    padding-right: 10px;
    color: #BADA55;
}

#prueba__aside i:hover{
    color: #000;
    transition: .4s;
}

/*CONTACTO*/
#main__form{
    overflow-x: hidden;
}

.inscribirme__titulo{
    font-size: 50px;
    color: #fff;
}

#inscribirme p{
    font-size: 20px;
    color: #fff;
}

form{
    color: #fff;
}

#inscribirme input{
    border-bottom: 3px solid #BADA55;
}

#inscribirme input:focus {
    background-color: #000;
    color: #fff;
    border: 1px solid #BADA55;
}

#inscribirme textarea{
    border-bottom: 3px solid #BADA55;
}

#inscribirme textarea:focus{
    background-color: #000;
    color: #fff;
    border: 1px solid #BADA55;
}

label{
    font-weight: bold;
}

footer{
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    height: 110px;
    color: #fff;
}

.icon{
   transition: all .8 ease;
}

.icon:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: .3s;
}

@media screen and (max-width: 960px) {
    .menu{
        height: 10vh;
    }

    header h2{
        font-size: 25px;
        text-align: center;
    }

    .menu__items li a{
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .menu{
        display: block;
    }

    header h2{
        padding-top: 10px;
    }

    .nosotros__titulo{
        font-size: 70px;
    }

    #prueba__aside{
        background-position: 50% 50%;
    }

    .prueba__titulo{
        font-size: 60px;
        margin: 0 auto;
    }

    .table{
        display: none;
    }

    #niveles-button{
        margin: auto;
    }

    .buttons-form{
        justify-content: center;
    }
}

@media screen and (max-width: 512px) {
    .menu{
        height: 25vh;
    }
    
    .menu__items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inicio__titulo{
        font-size: 80px;
    }

    .nosotros__titulo{
        font-size: 60px;
    }

    .nosotros__p{
        font-size: 17px;
    }

    .prueba__titulo{
        font-size: 40px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 450px) {
    .nosotros__titulo{
        font-size: 50px;
    }

    .prueba__titulo{
        font-size: 30px;
        margin-bottom: 50px;
    }

    .buttons-form{
       margin-left: 1rem;
    }
}
